In [1]:
from ECOv002_calval_tables import load_times_locations
from GEOS5FP import GEOS5FP

In [2]:
GEOS5FP_connection = GEOS5FP()
GEOS5FP_connection

{
  "URL": "https://portal.nccs.nasa.gov/datashare/gmao/geos-fp/das",
  "download_directory": "~/data/GEOS5FP"
}

In [3]:
targets_df = load_times_locations()
targets_df

          ID             time_UTC                  geometry
0     US-NC3  2019-10-02 19:09:40    POINT (-76.656 35.799)
1     US-Mi3  2019-06-23 18:17:17   POINT (-80.637 41.8222)
2     US-Mi3  2019-06-27 16:35:42   POINT (-80.637 41.8222)
3     US-Mi3  2019-06-30 15:44:10   POINT (-80.637 41.8222)
4     US-Mi3  2019-07-01 14:53:48   POINT (-80.637 41.8222)
...      ...                  ...                       ...
1060  US-xAE  2021-12-11 16:01:12  POINT (-99.0588 35.4106)
1061  US-xAE  2022-03-25 22:45:31  POINT (-99.0588 35.4106)
1062  US-xAE  2022-04-12 22:53:09  POINT (-99.0588 35.4106)
1063  US-xAE  2022-04-14 14:45:37  POINT (-99.0588 35.4106)
1064  US-xAE  2022-04-20 19:38:47  POINT (-99.0588 35.4106)

[1065 rows x 3 columns]

In [4]:
sample_df = targets_df.sample(n=10)
sample_df

         ID             time_UTC                   geometry
476  US-CMW  2021-10-28 17:49:00  POINT (-110.1777 31.6637)
39   US-Me6  2019-06-15 18:17:56  POINT (-121.6078 44.3233)
773  US-xBL  2021-05-01 14:12:18   POINT (-78.0716 39.0603)
448  US-CMW  2020-10-05 18:50:41  POINT (-110.1777 31.6637)
191  US-SRM  2020-03-30 21:50:45  POINT (-110.8661 31.8214)
396  US-Wkg  2022-04-21 20:26:15  POINT (-109.9419 31.7365)
732  US-MMS  2020-10-07 17:21:02   POINT (-86.4131 39.3232)
865  US-xWR  2022-06-27 17:08:07  POINT (-121.9519 45.8205)
617  US-SRG  2020-06-17 14:35:12  POINT (-110.8277 31.7894)
533  US-WCr  2021-04-02 20:52:55   POINT (-90.0799 45.8059)

In [5]:
results_df = GEOS5FP_connection.variable(
    variable_name=["Ta_C", "RH"],
    time_UTC=sample_df.time_UTC,
    geometry=sample_df.geometry
)

results_df

[2025-11-25 11:16:21 INFO] Processing 10 spatio-temporal records at 9 unique coordinates (10 query batches)...
[2025-11-25 11:16:21 INFO] Querying 3 variables (Ta, Q, PS) from tavg1_2d_slv_Nx at 9 coordinates (10 batches)...
[2025-11-25 11:16:21 INFO]   Coordinate 1/9: (31.6637, -110.1777) - 2 records in 2 time clusters
[2025-11-25 11:16:21 INFO]     Batch 1/10: cluster 1/2 - 1 records, 0.0 days (2020-10-05 to 2020-10-05)
[2025-11-25 11:16:21 INFO] Querying 3 variables (Ta, Q, PS) from tavg1_2d_slv_Nx at 9 coordinates (10 batches)...
[2025-11-25 11:16:21 INFO]   Coordinate 1/9: (31.6637, -110.1777) - 2 records in 2 time clusters
[2025-11-25 11:16:21 INFO]     Batch 1/10: cluster 1/2 - 1 records, 0.0 days (2020-10-05 to 2020-10-05)
[2025-11-25 11:16:25 INFO]     Batch 2/10: cluster 2/2 - 1 records, 0.0 days (2021-10-28 to 2021-10-28)
[2025-11-25 11:16:25 INFO]     Batch 2/10: cluster 2/2 - 1 records, 0.0 days (2021-10-28 to 2021-10-28)
[2025-11-25 11:16:29 INFO]   Coordinate 2/9: (44.3233, -121.6078) - 1 records in 1 time clusters
[2025-11-25 11:16:29 INFO]     Batch 3/10: cluster 1/1 - 1 records, 0.0 days (2019-06-15 to 2019-06-15)
[2025-11-25 11:16:29 INFO]   Coordinate 2/9: (44.3233, -121.6078) - 1 records in 1 time clusters
[2025-11-25 11:16:29 INFO]     Batch 3/10: cluster 1/1 - 1 records, 0.0 days (2019-06-15 to 2019-06-15)
[2025-11-25 11:16:33 INFO]   Coordinate 3/9: (39.0603, -78.0716) - 1 records in 1 time clusters
[2025-11-25 11:16:33 INFO]     Batch 4/10: cluster 1/1 - 1 records, 0.0 days (2021-05-01 to 2021-05-01)
[2025-11-25 11:16:33 INFO]   Coordinate 3/9: (39.0603, -78.0716) - 1 records in 1 time clusters
[2025-11-25 11:16:33 INFO]     Batch 4/10: cluster 1/1 - 1 records, 0.0 days (2021-05-01 to 2021-05-01)
[2025-11-25 11:16:37 INFO]   Coordinate 4/9: (31.8214, -110.8661) - 1 records in 1 time clusters
[2025-11-25 11:16:37 INFO]     Batch 5/10: cluster 1/1 - 1 records, 0.0 days (2020-03-30 to 2020-03-30)
[2025-11-25 11:16:37 INFO]   Coordinate 4/9: (31.8214, -110.8661) - 1 records in 1 time clusters
[2025-11-25 11:16:37 INFO]     Batch 5/10: cluster 1/1 - 1 records, 0.0 days (2020-03-30 to 2020-03-30)
[2025-11-25 11:16:41 INFO]   Coordinate 5/9: (31.7365, -109.9419) - 1 records in 1 time clusters
[2025-11-25 11:16:41 INFO]     Batch 6/10: cluster 1/1 - 1 records, 0.0 days (2022-04-21 to 2022-04-21)
[2025-11-25 11:16:41 INFO]   Coordinate 5/9: (31.7365, -109.9419) - 1 records in 1 time clusters
[2025-11-25 11:16:41 INFO]     Batch 6/10: cluster 1/1 - 1 records, 0.0 days (2022-04-21 to 2022-04-21)
[2025-11-25 11:16:45 INFO]   Coordinate 6/9: (39.3232, -86.4131) - 1 records in 1 time clusters
[2025-11-25 11:16:45 INFO]     Batch 7/10: cluster 1/1 - 1 records, 0.0 days (2020-10-07 to 2020-10-07)
[2025-11-25 11:16:45 INFO]   Coordinate 6/9: (39.3232, -86.4131) - 1 records in 1 time clusters
[2025-11-25 11:16:45 INFO]     Batch 7/10: cluster 1/1 - 1 records, 0.0 days (2020-10-07 to 2020-10-07)
[2025-11-25 11:16:49 INFO]   Coordinate 7/9: (45.8205, -121.9519) - 1 records in 1 time clusters
[2025-11-25 11:16:49 INFO]     Batch 8/10: cluster 1/1 - 1 records, 0.0 days (2022-06-27 to 2022-06-27)
[2025-11-25 11:16:49 INFO]   Coordinate 7/9: (45.8205, -121.9519) - 1 records in 1 time clusters
[2025-11-25 11:16:49 INFO]     Batch 8/10: cluster 1/1 - 1 records, 0.0 days (2022-06-27 to 2022-06-27)
[2025-11-25 11:16:53 INFO]   Coordinate 8/9: (31.7894, -110.8277) - 1 records in 1 time clusters
[2025-11-25 11:16:53 INFO]     Batch 9/10: cluster 1/1 - 1 records, 0.0 days (2020-06-17 to 2020-06-17)
[2025-11-25 11:16:53 INFO]   Coordinate 8/9: (31.7894, -110.8277) - 1 records in 1 time clusters
[2025-11-25 11:16:53 INFO]     Batch 9/10: cluster 1/1 - 1 records, 0.0 days (2020-06-17 to 2020-06-17)
[2025-11-25 11:16:57 INFO]   Coordinate 9/9: (45.8059, -90.0799) - 1 records in 1 time clusters
[2025-11-25 11:16:57 INFO]     Batch 10/10: cluster 1/1 - 1 records, 0.0 days (2021-04-02 to 2021-04-02)
[2025-11-25 11:16:57 INFO]   Coordinate 9/9: (45.8059, -90.0799) - 1 records in 1 time clusters
[2025-11-25 11:16:57 INFO]     Batch 10/10: cluster 1/1 - 1 records, 0.0 days (2021-04-02 to 2021-04-02)
[2025-11-25 11:17:01 INFO] Computing derived variables: Ta_C, RH
[2025-11-25 11:17:01 INFO] Computing derived variables: Ta_C, RH

                          Ta_C        RH                   geometry
time_UTC
2021-10-28 17:49:00  17.906366  0.191774  POINT (-110.1777 31.6637)
2019-06-15 18:17:56  24.842096  0.163278  POINT (-121.6078 44.3233)
2021-05-01 14:12:18  10.661462  0.331173   POINT (-78.0716 39.0603)
2020-10-05 18:50:41  32.411554  0.070048  POINT (-110.1777 31.6637)
2020-03-30 21:50:45  20.542871  0.157439  POINT (-110.8661 31.8214)
2022-04-21 20:26:15  30.773828  0.078647  POINT (-109.9419 31.7365)
2020-10-07 17:21:02  24.274194  0.424265   POINT (-86.4131 39.3232)
2022-06-27 17:08:07  24.407709  0.445752  POINT (-121.9519 45.8205)
2020-06-17 14:35:12  23.520288  0.162836  POINT (-110.8277 31.7894)
2021-04-02 20:52:55   7.413354  0.441326   POINT (-90.0799 45.8059)