In [1]:
from ECOv002_calval_tables import load_times_locations
from GEOS5FP import GEOS5FP

In [2]:
GEOS5FP_connection = GEOS5FP()
GEOS5FP_connection

{
  "URL": "https://portal.nccs.nasa.gov/datashare/gmao/geos-fp/das",
  "download_directory": "~/data/GEOS5FP"
}

In [3]:
targets_df = load_times_locations()
targets_df

          ID             time_UTC                  geometry
0     US-NC3  2019-10-02 19:09:40    POINT (-76.656 35.799)
1     US-Mi3  2019-06-23 18:17:17   POINT (-80.637 41.8222)
2     US-Mi3  2019-06-27 16:35:42   POINT (-80.637 41.8222)
3     US-Mi3  2019-06-30 15:44:10   POINT (-80.637 41.8222)
4     US-Mi3  2019-07-01 14:53:48   POINT (-80.637 41.8222)
...      ...                  ...                       ...
1060  US-xAE  2021-12-11 16:01:12  POINT (-99.0588 35.4106)
1061  US-xAE  2022-03-25 22:45:31  POINT (-99.0588 35.4106)
1062  US-xAE  2022-04-12 22:53:09  POINT (-99.0588 35.4106)
1063  US-xAE  2022-04-14 14:45:37  POINT (-99.0588 35.4106)
1064  US-xAE  2022-04-20 19:38:47  POINT (-99.0588 35.4106)

[1065 rows x 3 columns]

In [4]:
sample_df = targets_df.sample(n=5)
sample_df

          ID             time_UTC                   geometry
377   US-Wkg  2021-04-04 19:13:14  POINT (-109.9419 31.7365)
1055  US-xAE  2021-08-24 18:15:26   POINT (-99.0588 35.4106)
965   US-Rwf  2020-06-23 19:31:29  POINT (-116.7231 43.1207)
727   US-MMS  2020-07-05 13:16:44   POINT (-86.4131 39.3232)
908   US-xCL  2021-06-25 18:06:41     POINT (-97.57 33.4012)

In [5]:
results_df = GEOS5FP_connection.variable(
    target_variables=["Ta_C", "RH"],
    targets_df=sample_df
)

results_df

[2025-11-25 11:56:46 INFO] Processing 5 spatio-temporal records at 5 unique coordinates (5 query batches)...
[2025-11-25 11:56:46 INFO] Querying 3 variables (Ta, Q, PS) from tavg1_2d_slv_Nx at 5 coordinates (5 batches)...
[2025-11-25 11:56:46 INFO]   Coordinate 1/5: (31.7365, -109.9419) - 1 records in 1 time clusters
[2025-11-25 11:56:46 INFO]     Batch 1/5: cluster 1/1 - 1 records, 0.0 days (2021-04-04 to 2021-04-04)
[2025-11-25 11:56:46 INFO] Querying 3 variables (Ta, Q, PS) from tavg1_2d_slv_Nx at 5 coordinates (5 batches)...
[2025-11-25 11:56:46 INFO]   Coordinate 1/5: (31.7365, -109.9419) - 1 records in 1 time clusters
[2025-11-25 11:56:46 INFO]     Batch 1/5: cluster 1/1 - 1 records, 0.0 days (2021-04-04 to 2021-04-04)
[2025-11-25 11:56:50 INFO]   Coordinate 2/5: (35.4106, -99.0588) - 1 records in 1 time clusters
[2025-11-25 11:56:50 INFO]     Batch 2/5: cluster 1/1 - 1 records, 0.0 days (2021-08-24 to 2021-08-24)
[2025-11-25 11:56:50 INFO]   Coordinate 2/5: (35.4106, -99.0588) - 1 records in 1 time clusters
[2025-11-25 11:56:50 INFO]     Batch 2/5: cluster 1/1 - 1 records, 0.0 days (2021-08-24 to 2021-08-24)
[2025-11-25 11:56:54 INFO]   Coordinate 3/5: (43.1207, -116.7231) - 1 records in 1 time clusters
[2025-11-25 11:56:54 INFO]     Batch 3/5: cluster 1/1 - 1 records, 0.0 days (2020-06-23 to 2020-06-23)
[2025-11-25 11:56:54 INFO]   Coordinate 3/5: (43.1207, -116.7231) - 1 records in 1 time clusters
[2025-11-25 11:56:54 INFO]     Batch 3/5: cluster 1/1 - 1 records, 0.0 days (2020-06-23 to 2020-06-23)
[2025-11-25 11:56:58 INFO]   Coordinate 4/5: (39.3232, -86.4131) - 1 records in 1 time clusters
[2025-11-25 11:56:58 INFO]     Batch 4/5: cluster 1/1 - 1 records, 0.0 days (2020-07-05 to 2020-07-05)
[2025-11-25 11:56:58 INFO]   Coordinate 4/5: (39.3232, -86.4131) - 1 records in 1 time clusters
[2025-11-25 11:56:58 INFO]     Batch 4/5: cluster 1/1 - 1 records, 0.0 days (2020-07-05 to 2020-07-05)
[2025-11-25 11:57:03 INFO]   Coordinate 5/5: (33.4012, -97.5700) - 1 records in 1 time clusters
[2025-11-25 11:57:03 INFO]     Batch 5/5: cluster 1/1 - 1 records, 0.0 days (2021-06-25 to 2021-06-25)
[2025-11-25 11:57:03 INFO]   Coordinate 5/5: (33.4012, -97.5700) - 1 records in 1 time clusters
[2025-11-25 11:57:03 INFO]     Batch 5/5: cluster 1/1 - 1 records, 0.0 days (2021-06-25 to 2021-06-25)
[2025-11-25 11:57:07 INFO] Computing derived variables: Ta_C, RH
[2025-11-25 11:57:07 INFO] Computing derived variables: Ta_C, RH

,ID,time_UTC,Ta_C,RH,geometry
377,US-Wkg,2021-04-04 19:13:14,29.835626,0.097698,POINT (-109.9419 31.7365)
1055,US-xAE,2021-08-24 18:15:26,36.230615,0.259610,POINT (-99.0588 35.4106)
965,US-Rwf,2020-06-23 19:31:29,27.234216,0.231057,POINT (-116.7231 43.1207)
727,US-MMS,2020-07-05 13:16:44,25.055872,0.780509,POINT (-86.4131 39.3232)
908,US-xCL,2021-06-25 18:06:41,34.281549,0.419001,POINT (-97.57 33.4012)