In [1]:
from ECOv002_calval_tables import load_times_locations
from GEOS5FP import GEOS5FP

In [2]:
GEOS5FP_connection = GEOS5FP()
GEOS5FP_connection

{
  "URL": "https://portal.nccs.nasa.gov/datashare/gmao/geos-fp/das",
  "download_directory": "~/data/GEOS5FP"
}

In [3]:
targets_df = load_times_locations()
targets_df

          ID             time_UTC                  geometry
0     US-NC3  2019-10-02 19:09:40    POINT (-76.656 35.799)
1     US-Mi3  2019-06-23 18:17:17   POINT (-80.637 41.8222)
2     US-Mi3  2019-06-27 16:35:42   POINT (-80.637 41.8222)
3     US-Mi3  2019-06-30 15:44:10   POINT (-80.637 41.8222)
4     US-Mi3  2019-07-01 14:53:48   POINT (-80.637 41.8222)
...      ...                  ...                       ...
1060  US-xAE  2021-12-11 16:01:12  POINT (-99.0588 35.4106)
1061  US-xAE  2022-03-25 22:45:31  POINT (-99.0588 35.4106)
1062  US-xAE  2022-04-12 22:53:09  POINT (-99.0588 35.4106)
1063  US-xAE  2022-04-14 14:45:37  POINT (-99.0588 35.4106)
1064  US-xAE  2022-04-20 19:38:47  POINT (-99.0588 35.4106)

[1065 rows x 3 columns]

In [4]:
sample_df = targets_df.sample(n=5)
sample_df

         ID             time_UTC                   geometry
663  US-Rms  2019-06-15 00:00:03  POINT (-116.7486 43.0645)
306  US-UMd  2020-06-29 14:49:24   POINT (-84.6975 45.5625)
695  US-xJR  2020-03-27 22:36:51  POINT (-106.8425 32.5907)
385  US-Wkg  2021-06-18 22:00:09  POINT (-109.9419 31.7365)
564  US-Rws  2020-08-14 17:26:16  POINT (-116.7132 43.1675)

In [5]:
results_df = GEOS5FP_connection.query(
    target_variables=["Ta_C", "RH"],
    targets_df=sample_df
)

results_df

[2025-11-25 14:10:36 INFO] Processing 5 spatio-temporal records at 5 unique coordinates (5 query batches)...
[2025-11-25 14:10:36 INFO] Querying 3 variables (Ta, Q, PS) from tavg1_2d_slv_Nx at 5 coordinates (5 batches)...
[2025-11-25 14:10:36 INFO]   Coordinate 1/5: (43.0645, -116.7486) - 1 records in 1 time clusters
[2025-11-25 14:10:36 INFO]     Batch 1/5: cluster 1/1 - 1 records, 0.0 days (2019-06-15 to 2019-06-15)
[2025-11-25 14:10:49 INFO]   Coordinate 2/5: (45.5625, -84.6975) - 1 records in 1 time clusters
[2025-11-25 14:10:49 INFO]     Batch 2/5: cluster 1/1 - 1 records, 0.0 days (2020-06-29 to 2020-06-29) - Elapsed: 13s, ETA: 53s
[2025-11-25 14:10:53 INFO]   Coordinate 3/5: (32.5907, -106.8425) - 1 records in 1 time clusters
[2025-11-25 14:10:53 INFO]     Batch 3/5: cluster 1/1 - 1 records, 0.0 days (2020-03-27 to 2020-03-27) - Elapsed: 17s, ETA: 26s
[2025-11-25 14:10:57 INFO]   Coordinate 4/5: (31.7365, -109.9419) - 1 records in 1 time clusters
[2025-11-25 14:10:57 INFO]     Batch 4/5: cluster 1/1 - 1 records, 0.0 days (2021-06-18 to 2021-06-18) - Elapsed: 21s, ETA: 14s
[2025-11-25 14:11:01 INFO]   Coordinate 5/5: (43.1675, -116.7132) - 1 records in 1 time clusters
[2025-11-25 14:11:01 INFO]     Batch 5/5: cluster 1/1 - 1 records, 0.0 days (2020-08-14 to 2020-08-14) - Elapsed: 25s, ETA: 6s
[2025-11-25 14:11:04 INFO] Computing derived variables: Ta_C, RH

,ID,time_UTC,Ta_C,RH,geometry
663,US-Rms,2019-06-15 00:00:03,23.949640,0.197335,POINT (-116.7486 43.0645)
306,US-UMd,2020-06-29 14:49:24,24.415857,0.579551,POINT (-84.6975 45.5625)
695,US-xJR,2020-03-27 22:36:51,17.562830,0.218681,POINT (-106.8425 32.5907)
385,US-Wkg,2021-06-18 22:00:09,38.506372,0.081867,POINT (-109.9419 31.7365)
564,US-Rws,2020-08-14 17:26:16,25.986536,0.155470,POINT (-116.7132 43.1675)