In [1]:
from ECOv002_calval_tables import load_times_locations
from GEOS5FP import GEOS5FP

In [2]:
GEOS5FP_connection = GEOS5FP()
GEOS5FP_connection

{
  "URL": "https://portal.nccs.nasa.gov/datashare/gmao/geos-fp/das",
  "download_directory": "~/data/GEOS5FP"
}

In [3]:
targets_df = load_times_locations()
targets_df

          ID             time_UTC                  geometry
0     US-NC3  2019-10-02 19:09:40    POINT (-76.656 35.799)
1     US-Mi3  2019-06-23 18:17:17   POINT (-80.637 41.8222)
2     US-Mi3  2019-06-27 16:35:42   POINT (-80.637 41.8222)
3     US-Mi3  2019-06-30 15:44:10   POINT (-80.637 41.8222)
4     US-Mi3  2019-07-01 14:53:48   POINT (-80.637 41.8222)
...      ...                  ...                       ...
1060  US-xAE  2021-12-11 16:01:12  POINT (-99.0588 35.4106)
1061  US-xAE  2022-03-25 22:45:31  POINT (-99.0588 35.4106)
1062  US-xAE  2022-04-12 22:53:09  POINT (-99.0588 35.4106)
1063  US-xAE  2022-04-14 14:45:37  POINT (-99.0588 35.4106)
1064  US-xAE  2022-04-20 19:38:47  POINT (-99.0588 35.4106)

[1065 rows x 3 columns]

In [4]:
sample_df = targets_df.sample(n=10)
sample_df

          ID             time_UTC                   geometry
756   US-MMS  2023-04-13 20:52:11   POINT (-86.4131 39.3232)
470   US-CMW  2021-05-29 21:34:33  POINT (-110.1777 31.6637)
693   US-xJR  2020-02-25 19:14:05  POINT (-106.8425 32.5907)
753   US-MMS  2023-04-09 15:57:44   POINT (-86.4131 39.3232)
979   US-Rwf  2020-10-01 22:00:29  POINT (-116.7231 43.1207)
731   US-MMS  2020-08-21 18:27:38   POINT (-86.4131 39.3232)
800   US-UC2  2022-06-29 14:03:18   POINT (-77.9998 40.7559)
990   US-xML  2019-11-03 14:16:14   POINT (-80.5248 37.3783)
1000  US-UiB  2019-09-04 13:49:41   POINT (-88.1984 40.0628)
95    US-NC2  2022-06-06 16:22:30    POINT (-76.6685 35.803)

In [5]:
results_df = GEOS5FP_connection.variable(
    target_variables=["Ta_C", "RH"],
    targets_df=sample_df
)

results_df

[2025-11-25 11:24:11 INFO] Processing 10 spatio-temporal records at 8 unique coordinates (9 query batches)...
[2025-11-25 11:24:11 INFO] Querying 3 variables (Ta, Q, PS) from tavg1_2d_slv_Nx at 8 coordinates (9 batches)...
[2025-11-25 11:24:11 INFO]   Coordinate 1/8: (39.3232, -86.4131) - 3 records in 2 time clusters
[2025-11-25 11:24:11 INFO]     Batch 1/9: cluster 1/2 - 1 records, 0.0 days (2020-08-21 to 2020-08-21)
[2025-11-25 11:24:11 INFO] Querying 3 variables (Ta, Q, PS) from tavg1_2d_slv_Nx at 8 coordinates (9 batches)...
[2025-11-25 11:24:11 INFO]   Coordinate 1/8: (39.3232, -86.4131) - 3 records in 2 time clusters
[2025-11-25 11:24:11 INFO]     Batch 1/9: cluster 1/2 - 1 records, 0.0 days (2020-08-21 to 2020-08-21)
[2025-11-25 11:24:16 INFO]     Batch 2/9: cluster 2/2 - 2 records, 4.2 days (2023-04-09 to 2023-04-13)
[2025-11-25 11:24:16 INFO]     Batch 2/9: cluster 2/2 - 2 records, 4.2 days (2023-04-09 to 2023-04-13)
[2025-11-25 11:25:28 INFO]   Coordinate 2/8: (31.6637, -110.1777) - 1 records in 1 time clusters
[2025-11-25 11:25:28 INFO]     Batch 3/9: cluster 1/1 - 1 records, 0.0 days (2021-05-29 to 2021-05-29)
[2025-11-25 11:25:28 INFO]   Coordinate 2/8: (31.6637, -110.1777) - 1 records in 1 time clusters
[2025-11-25 11:25:28 INFO]     Batch 3/9: cluster 1/1 - 1 records, 0.0 days (2021-05-29 to 2021-05-29)
[2025-11-25 11:25:32 INFO]   Coordinate 3/8: (32.5907, -106.8425) - 1 records in 1 time clusters
[2025-11-25 11:25:32 INFO]     Batch 4/9: cluster 1/1 - 1 records, 0.0 days (2020-02-25 to 2020-02-25)
[2025-11-25 11:25:32 INFO]   Coordinate 3/8: (32.5907, -106.8425) - 1 records in 1 time clusters
[2025-11-25 11:25:32 INFO]     Batch 4/9: cluster 1/1 - 1 records, 0.0 days (2020-02-25 to 2020-02-25)
[2025-11-25 11:25:36 INFO]   Coordinate 4/8: (43.1207, -116.7231) - 1 records in 1 time clusters
[2025-11-25 11:25:36 INFO]     Batch 5/9: cluster 1/1 - 1 records, 0.0 days (2020-10-01 to 2020-10-01)
[2025-11-25 11:25:36 INFO]   Coordinate 4/8: (43.1207, -116.7231) - 1 records in 1 time clusters
[2025-11-25 11:25:36 INFO]     Batch 5/9: cluster 1/1 - 1 records, 0.0 days (2020-10-01 to 2020-10-01)
[2025-11-25 11:25:40 INFO]   Coordinate 5/8: (40.7559, -77.9998) - 1 records in 1 time clusters
[2025-11-25 11:25:40 INFO]     Batch 6/9: cluster 1/1 - 1 records, 0.0 days (2022-06-29 to 2022-06-29)
[2025-11-25 11:25:40 INFO]   Coordinate 5/8: (40.7559, -77.9998) - 1 records in 1 time clusters
[2025-11-25 11:25:40 INFO]     Batch 6/9: cluster 1/1 - 1 records, 0.0 days (2022-06-29 to 2022-06-29)
[2025-11-25 11:25:44 INFO]   Coordinate 6/8: (37.3783, -80.5248) - 1 records in 1 time clusters
[2025-11-25 11:25:44 INFO]     Batch 7/9: cluster 1/1 - 1 records, 0.0 days (2019-11-03 to 2019-11-03)
[2025-11-25 11:25:44 INFO]   Coordinate 6/8: (37.3783, -80.5248) - 1 records in 1 time clusters
[2025-11-25 11:25:44 INFO]     Batch 7/9: cluster 1/1 - 1 records, 0.0 days (2019-11-03 to 2019-11-03)
[2025-11-25 11:25:47 INFO]   Coordinate 7/8: (40.0628, -88.1984) - 1 records in 1 time clusters
[2025-11-25 11:25:47 INFO]     Batch 8/9: cluster 1/1 - 1 records, 0.0 days (2019-09-04 to 2019-09-04)
[2025-11-25 11:25:47 INFO]   Coordinate 7/8: (40.0628, -88.1984) - 1 records in 1 time clusters
[2025-11-25 11:25:47 INFO]     Batch 8/9: cluster 1/1 - 1 records, 0.0 days (2019-09-04 to 2019-09-04)
[2025-11-25 11:25:51 INFO]   Coordinate 8/8: (35.8030, -76.6685) - 1 records in 1 time clusters
[2025-11-25 11:25:51 INFO]     Batch 9/9: cluster 1/1 - 1 records, 0.0 days (2022-06-06 to 2022-06-06)
[2025-11-25 11:25:51 INFO]   Coordinate 8/8: (35.8030, -76.6685) - 1 records in 1 time clusters
[2025-11-25 11:25:51 INFO]     Batch 9/9: cluster 1/1 - 1 records, 0.0 days (2022-06-06 to 2022-06-06)
[2025-11-25 11:25:56 INFO] Computing derived variables: Ta_C, RH
[2025-11-25 11:25:56 INFO] Computing derived variables: Ta_C, RH

,ID,time_UTC,Ta_C,RH,geometry
756,US-MMS,2023-04-13 20:52:11,24.816278,0.312600,POINT (-86.4131 39.3232)
470,US-CMW,2021-05-29 21:34:33,34.247034,0.051754,POINT (-110.1777 31.6637)
693,US-xJR,2020-02-25 19:14:05,9.891229,0.152836,POINT (-106.8425 32.5907)
753,US-MMS,2023-04-09 15:57:44,13.170404,0.401947,POINT (-86.4131 39.3232)
979,US-Rwf,2020-10-01 22:00:29,26.372339,0.138043,POINT (-116.7231 43.1207)
731,US-MMS,2020-08-21 18:27:38,28.826990,0.312482,POINT (-86.4131 39.3232)
800,US-UC2,2022-06-29 14:03:18,21.507349,0.488337,POINT (-77.9998 40.7559)
990,US-xML,2019-11-03 14:16:14,3.035425,0.570016,POINT (-80.5248 37.3783)
1000,US-UiB,2019-09-04 13:49:41,19.491815,0.772023,POINT (-88.1984 40.0628)
95,US-NC2,2022-06-06 16:22:30,26.369409,0.412746,POINT (-76.6685 35.803)